.Logo {
  text-align: center;
  margin-top: 10px;
}

.Logo img {
  max-width: 80%;
}

.Layout {
  min-height: 100vh;
}

.Header {
  background: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
